.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.fa-users:hover{
  opacity: 0.5;
}

img{
  width: 275px;
  height:auto;
}

img:hover{
opacity: 0.5;
}


@media only screen and (max-width: 800px) {
  img{
    width: 200px;
    height: auto;
  }
  /* For tablets: */
}

@media only screen and (max-width: 600px) {
  img{
    width: 75px;
    height: auto;
  }
  p{
    font-size: 12px;
  }
  /* For tablets: */
}

@media only screen and (max-width: 375px) {
  img{
    width: 65px;
    height: auto;
  }
  p{
    font-size: 10px;
  }
  /* For tablets: */
}

@media only screen and (max-width: 320px) {
  img{
    width: 60px;
    height: auto;
  }
  p{
    font-size: 9px;
  }
}

@media only screen and (max-width: 300px) {
  img{
    width: 45px;
    height: auto;
  }
  p{
    font-size: 8px;
  }
}

