<div *ngIf="!isEmpty()">

    <mat-card class="flex-row d-flex align-items-center border border-4 border-dark shadow-lg text-light font-weight-bolder m-4" *ngFor="let sharedMusic of sharedMusics">
        
        
        <div class="flex-shrink-0 h-100">
            <img
            [src]="['assets/images/welcomeBg1.png']"
            alt="vaccinCovid"
            class="rounded border border-4 border-dark shadow text-center h-100 img-responsive flex"
            />
        </div>
        <div class="flex-grow-1 ms-5 text-start">
            <div class=" flex-row">
                <p class="lead text-capitalize">
                    <u >Sharing Date :</u> {{sharedMusic.sharingDate | date}}<i class="fas fa-share-square text-info"></i>
                </p>
            </div>
            <div class=" flex-row">
                <p class="lead text-capitalize">
                    <u>sharignMsg :</u> {{sharedMusic.sharingMsg}}<i class="fas fa-comment-alt"></i>
                </p>
            </div>
            <div class=" flex-row">
                <p class="lead text-capitalize">
                    <u>title :</u> {{sharedMusic.music.title}}
                </p>
            </div>
            <div class=" flex-row">
                <p class="lead text-capitalize">
                    <u>tags :</u> {{sharedMusic.music.tags}}<i class="fas fa-tags"></i>
                </p>
            </div>
            <div class=" flex-row">
                <p class="lead text-capitalize" [routerLink]="['/profile',sharedMusic.music.creator]">
                    <u> creator :</u> {{sharedMusic.music.creator}}<i class="fas fa-user"></i>
                </p>
            </div>
        </div>
        <div class="flex-grow-1 ms-3 d-flex justify-content-center">
            
            <div class=" flex-row">
                <p class="lead text-capitalize">
                    <u> basicPrice :</u> {{sharedMusic.music.basicPrice}}.00<i class="fas fa-dollar-sign"></i> 
                </p>
            </div>
            <div class=" flex-row pl-4">
                <p class="lead text-capitalize">
                    <u> ExclusivePrice :</u> {{sharedMusic.music.exclusivePrice}}.00<i class="fas fa-dollar-sign"></i>
                </p>
            </div>
        </div>
        
        
    </mat-card>
</div>
<div *ngIf="isEmpty()">
    <div class="flex-row d-flex justify-content-center align-items-center">
        <p class="lead text-capitalize">No content to show</p>
    </div>
</div>