img{
    width: 200px;
    height: 100%;
}

h4 i:hover, img:hover{
    opacity: 0.5;
}
/*
@media only screen and (max-width: 800px) {
    img{
      width: 200px;
      height: auto;
    }
  }
  
  @media only screen and (max-width: 600px) {
    img{
      width: 75px;
      height: auto;
    }
    p{
      font-size: 12px;
    }
  }
  
  @media only screen and (max-width: 375px) {
    img{
      width: 65px;
      height: auto;
    }
    p{
      font-size: 10px;
    }
  }
  
  @media only screen and (max-width: 320px) {
    img{
      width: 50px;
      height: auto;
    }
    p{
      font-size: 10px;
    }
  }
  
  @media only screen and (max-width: 300px) {
    img{
        width: 40px;
        height: auto;
      }
      p{
        font-size: 8px;
      }
  }
  */
  

